body {
    font-family: 'PT Serif', serif;
}


/*FIRST ROW STYLING */
#section-1 .box:nth-child(1){
    padding: 2em;
    color: #474f48;
    background-color: #EEEEEE;
}

#section-1 .box:nth-child(2){
    padding: 2em;
    color: #474f48;
    background-color: 	#ffffff; 
}


#section-1 .box:nth-child(3){
    padding: 2em;
    color: #fff;
    background-color: #474f48;
}

#section-1 a {
    text-decoration: none;
    color: inherit;
}

#section-2 a {
    text-decoration: none;
    color: inherit;
}

#section-3 a {
    text-decoration: none;
    color: inherit;
}


/*ALIGN TEXT AND ICONS - FIRST ROW*/
#section-1 .box .fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1 .box:nth-child(1) .fab{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1 .box h1 {
    display: flex;
    justify-content: center;
}

/*SECOND ROW STYLING */
#section-2 .box:nth-child(1){
    padding: 2em;
    color: #fff;
    background-color: #970203;
    opacity: 1;
}

#section-2 .box:nth-child(2){
    padding: 2em;
    color: #474f48;
    background-color: #b8c3bb;
}

#section-2 .box:nth-child(3){
    padding: 2em;
    color: #474f48;
    background-color: 	#eeeeee;
}

/*ALIGN TEXT AND ICONS - SECOND ROW*/
#section-2 .box .fab {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 .box .fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 .box h1  {
    display: flex;
    justify-content: center;
}



/*THIRD ROW STYLING */
#section-3 .box:nth-child(1){
    padding: 2em;
    color: #474f48;
    background-color: #ffffff;
}

#section-3 .box:nth-child(2){
    padding: 2em;
    color: #fff;
    background-color: #474f48;
}

#section-3 .box:nth-child(3){
    padding: 2em;
    color: #fff;
    background-color: #970203;
    opacity: 1;
}

/*ALIGN TEXT AND ICONS - THIRD ROW*/
#section-3 .box .fab {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-3 .box h1{
    display: flex;
    justify-content: center;
}



/*POPUP*/

/*SECTION 1 POP*/


/* PERSONAL STATEMENT POP*/
#section-1 .box #thumbsUp {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-1 .box #thumbsUp:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* PORTFOLIO POP*/
#section-1 .box #book {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-1 .box #book:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* EMAIL POP*/
#section-1 .box #email {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-1 .box #email:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*SECTION 2 POP*/

/* INTERESTS POP*/
#section-2 .box #football {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-2 .box #football:hover {
    will-change: transform, opacity;
    color: green;
    -webkit-transform: scale(1.3) rotateZ(-180deg);
    -ms-transform: scale(1.3) rotateZ(-180deg);
    transform: scale(1.3) rotateZ(-180deg);
}


/* ADDRESS POP*/
#section-2 .box #house {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-2 .box #house:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* GITHUB POP*/
#section-2 .box #hub {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-2 .box #hub:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*SECTION 3 POP*/

/* FACEBOOK POP*/
#section-3 .box #faceb {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-3 .box #faceb:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* LINKEDIN POP*/
#section-3 .box #link {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-3 .box #link:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* INSTAGRAM POP*/
#section-3 .box #insta {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#section-3 .box #insta:hover {
    color: green;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* POPUP STYLING*/


/* OVERLAY OF MAIN SCREEN */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

/* MAKE POPUP VISIBLE*/
.overlay:target {
    visibility: visible;
    opacity: 1;
  } 

/* POPUP STYLING*/
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;    
    color: #333;
    opacity: 1;
    transition: all 2s ease-in-out;
  }

/* POPUP CLOSE STYLING*/
  .popup .close {
    display: flex;
    justify-content: center;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    
  }

/* Footer */

#main-footer {
    padding: 2em;
    background: #000000;
    color: #b8c3bb;
    opacity: 0.8;
    font-size: 18px;
    display: flex;
    justify-content: right;
}
  

/* Media Query */

@media(min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .popup {
        width: 35%;
        position: relative;
    }
}
  
  