body {
    font-family: 'PT Serif', serif;
}




/*FIRST ROW STYLING */
#section-1 .box:nth-child(1){
    padding: 2em;
    color: #101E1B;
    background-color: #EEEEEE;
    background-size: 100% 100%;
}

#section-1 .box h2{
    display: flex;
    justify-content: center;
}

#section-1 .box:nth-child(2){
    padding: 2em;
    color: #101E1B;
    background-color: 	#ffffff; 
}


#section-1 .box:nth-child(3){
    padding: 2em;
    color: #fff;
    background-color: #474f48;
    opacity: 0.9;
}

/*ALIGN TEXT AND ICONS*/
#section-1 .box .fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1 .box:nth-child(1) .fab{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SECOND ROW STYLING */
#section-2 .box:nth-child(1){
    padding: 2em;
    color: #fff;
    background-color: #970203;
    opacity: 0.5;
}

#section-2 .box:nth-child(2){
    padding: 2em;
    color: #474f48;
    background-color: #b8c3bb;
}

#section-2 .box:nth-child(3){
    padding: 2em;
    color: #474f48;
    background-color: 	#eeeeee;
}

/*ALIGN TEXT AND ICONS*/
#section-2 .box .fab {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*THIRD ROW STYLING */
#section-3 .box:nth-child(1){
    padding: 2em;
    color: #474f48;
    background-color: #ffffff;
}

#section-2 .box h2{
    display: flex;
    justify-content: center;
}

#section-3 .box:nth-child(2){
    padding: 2em;
    color: #fff;
    background-color: #474f48;
}

#section-3 .box:nth-child(3){
    padding: 2em;
    color: #fff;
    background-color: #970203;
    opacity: 0.8;
}

/*ALIGN TEXT AND ICONS*/
#section-3 .box .fab {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-3 .box h2{
    display: flex;
    justify-content: center;
}

#section-2 .box:nth-child(2):hover{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity:1;
    color: #101E1B;
}


#section-3 .box:nth-child(3):hover{
    background-image: url(liverpool.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity:1;
    color: #101E1B;
}


/* Media Query */

@media(min-width: 700px) {
    .grid{
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

    }
  }
  
  